body {
    font-family: Arial;
}


.navbar {
    background-color: pink;
    height: 30px;
    padding-bottom: 20px;
    border: 3px solid black;
}

.navbar > li {
    float: left;
    list-style-type: none;
    margin: 5px 15px 0 15px;
    font-family: "Arial";
    cursor: pointer;
}

.navbar > li:hover {
    color: white;
}



.options {
	background-color: aqua;
	float: left;
    width: 30%;
    height: 400px;
    border: 3px solid black;
    display: inline-block;
    padding: 0 10px;
    box-sizing: border-box;
}

.first-half {
    display: inline-block;
    float: left;
}

.second-half {
    display: inline-block;
    float: right;
}   


.display {
	background-color: khaki;
	float: right;
    width: 65%;
    border: 3px solid black;
    height: 400px;
    box-sizing: border-box;
    padding-left: 20px;
}

label {
    display: block;
    padding: 10px 0;
}
